<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="active treeview">
                <a href="#/dashboard">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a href="">
                    <i class="fa fa-credit-card"></i>
                    <span>Price plans</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/priceplans"><i class="fa fa-circle-o"></i> Price plans</a></li>
                    <li><a href="#/ordersHistory"><i class="fa fa-circle-o"></i> Order history</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="">
                    <i class="fa fa-list-alt"></i>
                    <span>Email lists</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/createList"><i class="fa fa-circle-o"></i> Create new list</a></li>
                    <li><a href="#/viewList"><i class="fa fa-circle-o"></i> View all lists</a></li>
                    <li><a href="#/listTools"><i class="fa fa-circle-o"></i> List tools</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="">
                    <i class="fa fa-edit"></i> <span>Campaigns</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/createCampaign"><i class="fa fa-circle-o"></i> Create New Campaign</a></li>
                    <li><a href="#/regularCampaigns"><i class="fa fa-circle-o"></i> Regular Campaigns</a></li>
                    <li><a href="#/autoResponderCampaigns"><i class="fa fa-circle-o"></i> Auto Responder Campaigns</a></li>
                    <li><a href="#/viewAllCampaign"><i class="fa fa-circle-o"></i> View All Campaign</a></li>
                    <li><a href="#/campaignGroups"><i class="fa fa-circle-o"></i> Campaign Groups</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="">
                    <i class="fa fa-table"></i> <span>Templates</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/myTemplates"><i class="fa fa-circle-o"></i> My templates</a></li>
                    <li><a href="#/gallery"><i class="fa fa-circle-o"></i> Gallery</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="">
                    <i class="fa fa-calendar"></i> <span>Delivery Servers</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#/serverSettings"><i class="fa fa-circle-o"></i> Server settings</a></li>
                </ul>
            </li>
            <li><a href="#/supportTickets"><i class="fa fa-book"></i> <span>Support tickets</span></a></li>
            <li><a href="#/helpdoc"><i class="fa fa-book"></i> <span>Help doc</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>